@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
.text-title {
    font-family: 'Kaushan Script';
    font-size: 7em;
}

.bg-dale {
    /* background-image: linear-gradient(to bottom right, #ff5e57, #ffdd59); */

    background: url('img/20-das-fotos-astronomicas-mais-legais-de-2019.webp') center center no-repeat;
    background-size: cover;


}

.beijinho {
    font-size: 2em;
}
.fundo{
    background-color: rgb(128, 19, 0);
    background-image: linear-gradient(to bottom right, #EA2027, #FFC312);

}